{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja" class="h-100" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="このサイトは、市長queenが33年間蒐集した<br>スクウェアソフトグッズ(SFCまで)を展示しています。スクエニ関連グッズは取り扱っていません(テレカのみPS2まで蒐集)">
    <meta name="keywords" content="ファイナルファンタジー,クロノトリガー,聖剣伝説,ロマンシングサガ,半熟英雄,ダイナマイ・トレーサー">    
    <title>DEATH QUEEN CITY</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/_nav.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="sticky-footer-navbar.css" rel="stylesheet">
    <style type="text/css">
    <!--  
        main 
        { 
            padding-top: 5px; 
            padding-bottom: 30px; 
        }
        .navbar-Twitter {
            background: url({% static '/ICON/Twitter.png' %}) no-repeat bottom center;
            background-size: contain;
            height: 36px;
            width:  43px;
        }
    -->
    </style>      
</head>

<html lang="ja"  class="h-100" >
  <body  class="d-flex flex-column h-100" >
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Death Queen City</span>
      </div>
    </a>

    {% include "_nav.html" %}
    <main role="main" class="flex-shrink-0">

    {% for item in item_list %}
    
        {% ifchanged item.Soft_ID %}
    
            {% if forloop.first  %}
            <div class="container container-m mt-5 mb-2">
                <div class="card">
                    <h6 class="card-header bg-dark text-white">
                    {{item.Soft_Name}}   {{item.Category_Name}}
                    </h6>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 mb-2">
                        <div class="card">
                            <div class="card">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                {% if item.Category_Group %}
                    						    <div class="flex-item">
                            						<div class="image-wrap">
                                                    {% with picpath=item.ItemC|add:"/"|add:item.Picpath %}
                                                        <a href="{% static picpath %}" data-lightbox="group">
            	                                    {% endwith %}
                                                    {% if item.Thumb %}
                                                        {% with Thumb=item.ItemC|add:"/"|add:item.Thumb %}
                                                        <img src="{% static Thumb %}" title="{{ item.Preface }}{{ item.Comment }}" width="200"></a>
            	                                        {% endwith %}
                                                    {% else %}                	                                        
                                                        {% with picpath=item.ItemC|add:"/"|add:item.Picpath %}
                                                        <img src="{% static picpath %}" title="{{ item.Preface }}{{ item.Comment }}" width="200"></a>
            	                                        {% endwith %}
                                                    {% endif %}

	                                                </div>
                                                </div>
                                                {% endif %}  
                                            </div>
    
                        {% for image in image_list %}
                            {% if item.Image_ID == image.Image_ID  %}
                                            <div class="carousel-item">
                                                {% with picpath=item.ItemC|add:"/"|add:item.Picpath %}
                    						    <div class="flex-item">
                            						<div class="image-wrap">
                                                    {% with picpath=item.ItemC|add:"/"|add:item.Picpath %}
                                                        <a href="{% static picpath %}" data-lightbox="group">
            	                                    {% endwith %}
                                                    {% if item.Thumb %}
                                                        {% with Thumb=item.ItemC|add:"/"|add:item.Thumb %}
                                                        <img src="{% static Thumb %}" title="{{ item.Preface }}{{ item.Comment }}" width="200"></a>
            	                                        {% endwith %}
                                                    {% else %}                	                                        
                                                        {% with picpath=item.ItemC|add:"/"|add:item.Picpath %}
                                                        <img src="{% static picpath %}" title="{{ item.Preface }}{{ item.Comment }}" width="200"></a>
            	                                        {% endwith %}
                                                    {% endif %}
	                                                </div>
                                                </div>
                                                {% endwith %}
                                            </div>
                            {% endif %}
                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>            
                        {% for image in image_list %}
                            {% if item.Image_ID == image.Image_ID  %}
                                {% if image.Data_slide_to == '1'  %}
                                        <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="{{image.Data_slide_to}}"></li>
                                {% else %}
                                        <li data-target="#carouselExampleIndicators" data-slide-to="{{image.Data_slide_to}}"></li>
                                {% endif %}
                                {% if forloop.last  %}
                                        </ol>
                                {% endif %}
                            {% endif %}
                        {% empty %}
                        {% endfor %}
                    </div>
    
                {% if forloop.last  %}
                </div>
            </div>
                {% endif %}
            {% else %}
                    </div>
                </div>
                <div class="container container-m mb-2">
                    <div class="card">
                        <h6 class="card-header bg-dark text-white">
                        {{item.Soft_Name}}   {{item.Category_Name}}
                        </h6>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 mb-2">
                            <div class="card">
                                <div class="card">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                {% with picpath=item.ItemC|add:"/"|add:item.Picpath %}
                    						    <div class="flex-item">
                            						<div class="image-wrap">
	                                                    {% with picpath=item.ItemC|add:"/"|add:item.Picpath %}
                                                            <a href="{% static picpath %}" data-lightbox="group">
                	                                    {% endwith %}
                                                        {% if item.Thumb %}
	                                                        {% with Thumb=item.ItemC|add:"/"|add:item.Thumb %}
                                                            <img src="{% static Thumb %}" title="{{ item.Preface }}{{ item.Comment }}" width="200"></a>
                	                                        {% endwith %}
                                                        {% else %}                	                                        
	                                                        {% with picpath=item.ItemC|add:"/"|add:item.Picpath %}
                                                            <img src="{% static picpath %}" title="{{ item.Preface }}{{ item.Comment }}" width="200"></a>
                	                                        {% endwith %}
                                                        {% endif %}
	                                                </div>
                                                </div>
                                                {% endwith %}
                                            </div>
                        {% for image in image_list %}
                            {% if item.Image_ID == image.Image_ID  %}
                                            <div class="carousel-item">
                    						    <div class="flex-item">
                            						<div class="image-wrap">
	                                                    {% with picpath=item.ItemC|add:"/"|add:item.Picpath %}
                                                            <a href="{% static picpath %}" data-lightbox="group">
                	                                    {% endwith %}
                                                        {% if item.Thumb %}
	                                                        {% with Thumb=item.ItemC|add:"/"|add:item.Thumb %}
                                                            <img src="{% static Thumb %}" title="{{ item.Preface }}{{ item.Comment }}" width="200"></a>
                	                                        {% endwith %}
                                                        {% else %}                	                                        
	                                                        {% with picpath=item.ItemC|add:"/"|add:item.Picpath %}
                                                            <img src="{% static picpath %}" title="{{ item.Preface }}{{ item.Comment }}" width="200"></a>
                	                                        {% endwith %}
                                                        {% endif %}
	                                                </div>
                                                </div>
                                            </div>
                            {% endif %}
                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>            
                        {% for image in image_list %}
                            {% if item.Image_ID == image.Image_ID  %}
                                {% if image.Data_slide_to == '1'  %}
                                        <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="{{image.Data_slide_to}}"></li>
                                {% else %}
                                        <li data-target="#carouselExampleIndicators" data-slide-to="{{image.Data_slide_to}}"></li>
                                {% endif %}
                                {% if forloop.last  %}
                                        </ol>
                                {% endif %}
                            {% endif %}
                        {% empty %}
                        {% endfor %}
                        </div>
                {% if forloop.last  %}
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% else %}
                        <div class="col-sm-3 mb-2">
                            <div class="card">
                                <div class="card">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        {% for image in image_list %}
                            {% if item.Image_ID == image.Image_ID  %}
                                {% if image.Data_slide_to == '1'  %}
                                        <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="{{image.Data_slide_to}}"></li>
                                {% else %}
                                        <li data-target="#carouselExampleIndicators" data-slide-to="{{image.Data_slide_to}}"></li>
                                {% endif %}
                                {% if forloop.last  %}
                                        </ol>
                                {% endif %}
                            {% endif %}
                        {% empty %}
                        {% endfor %}
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                    						    <div class="flex-item">
                            						<div class="image-wrap">
	                                                    {% with picpath=item.ItemC|add:"/"|add:item.Picpath %}
                                                            <a href="{% static picpath %}" data-lightbox="group">
                	                                    {% endwith %}
                                                        {% if item.Thumb %}
	                                                        {% with Thumb=item.ItemC|add:"/"|add:item.Thumb %}
                                                            <img src="{% static Thumb %}" title="{{ item.Preface }}{{ item.Comment }}" width="200"></a>
                	                                        {% endwith %}
                                                        {% else %}                	                                        
	                                                        {% with picpath=item.ItemC|add:"/"|add:item.Picpath %}
                                                            <img src="{% static picpath %}" title="{{ item.Preface }}{{ item.Comment }}" width="200"></a>
                	                                        {% endwith %}
                                                        {% endif %}
	                                                </div>
                                                </div>
                                            </div>
    
                        {% for image in image_list %}
                            {% if item.Image_ID == image.Image_ID  %}
                                            <div class="carousel-item">
                    						    <div class="flex-item">
                            						<div class="image-wrap">
	                                                    {% with picpath=item.ItemC|add:"/"|add:item.Picpath %}
                                                            <a href="{% static picpath %}" data-lightbox="group">
                	                                    {% endwith %}
                                                        {% if item.Thumb %}
	                                                        {% with Thumb=item.ItemC|add:"/"|add:item.Thumb %}
                                                            <img src="{% static Thumb %}" title="{{ item.Preface }}{{ item.Comment }}" width="200"></a>
                	                                        {% endwith %}
                                                        {% else %}                	                                        
	                                                        {% with picpath=item.ItemC|add:"/"|add:item.Picpath %}
                                                            <img src="{% static picpath %}" title="{{ item.Preface }}{{ item.Comment }}" width="200"></a>
                	                                        {% endwith %}
                                                        {% endif %}
	                                                </div>
                                                </div>
                                            </div>
                            {% endif %}
                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>            
                        {% for image in image_list %}
                            {% if item.Image_ID == image.Image_ID  %}
                                {% if image.Data_slide_to == '1'  %}
                                        <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="{{image.Data_slide_to}}"></li>
                                {% else %}
                                        <li data-target="#carouselExampleIndicators" data-slide-to="{{image.Data_slide_to}}"></li>
                                {% endif %}
                                {% if forloop.last  %}
                                        </ol>
                                {% endif %}
                            {% endif %}
                        {% empty %}
                        {% endfor %}
                        </div>
                {% if forloop.last  %}
                    </div>
                </div>
                {% endif %}
        {% endifchanged %}
    {% endfor %}
    </main>

    {% include "_footer.html" %} 
  </body>
</html>
