{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DEATH QUEEN CITY</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/_nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/coming-soon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">    

    <link href="sticky-footer-navbar.css" rel="stylesheet">
    <style type="text/css">
    <!--  
        main { 
            padding-top: 5px; 
            padding-bottom: 30px; 
        }
        .navbar-Twitter {
            background: url({% static '/ICON/Twitter.png' %}) no-repeat bottom center;
            background-size: contain;
            height: 36px;
            width:  43px;
        }
    -->
    </style>      

</head>

<html lang="ja"  class="h-100" >
  <body  class="d-flex flex-column h-100" >
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Death Queen City</span>
      </div>
    </a>
    {% include "_nav.html" %} 

<!--    <main role="main" class="flex-shrink-0"> -->
    <div class="overlay"></div>

    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-13
        <div class="row h-100">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0 mt-4">
            <h2 class="mb-3">Welcome To <br>Death Queen City !!</h2>
                <p><font size="3">このサイトは、市長queenが33年間蒐集した<br>スクウェアソフトグッズ(SFCまで)を展示しています</font></p>
                <p><font size="3">スクエニ関連グッズは取り扱っていません<br>(テレカのみPS2まで蒐集)</font></p>
                <p><font size="3">FC＆SFC時代のスクウェアグッズを<br>いつまでも愛し続けて止まない人たちに<br>展示品を見ていただけたら幸いです</font></p>
                <p><font size="3">市長queenのTwitterでは<br>最近手に入れたスクウェアグッズ画像をUPしてます<BR><BR>@DynamiTracer 市長queen【デスクイーン市】</font></p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--    </main> -->
    {% include "_footer.html" %}    

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.vide.min.js' %}"></script>
    {% if GoodsPic == 1 %}
    <script>
        !function(p){"use strict";jQuery("body").vide({jpg:"{% static '/ICON/Title01.jpg' %}",poster:"{% static '/ICON/Title01.jpg' %}"},{posterType:"jpg"})}();
    </script>
    {% elif GoodsPic == 2 %}
    <script>
        !function(p){"use strict";jQuery("body").vide({jpg:"{% static '/ICON/Title02.jpg' %}",poster:"{% static '/ICON/Title02.jpg' %}"},{posterType:"jpg"})}();
    </script>
    {% elif GoodsPic == 3 %}
    <script>
        !function(p){"use strict";jQuery("body").vide({jpg:"{% static '/ICON/Title03.jpg' %}",poster:"{% static '/ICON/Title03.jpg' %}"},{posterType:"jpg"})}();
    </script>
    {% elif GoodsPic == 4 %}
    <script>
        !function(p){"use strict";jQuery("body").vide({jpg:"{% static '/ICON/Title04.jpg' %}",poster:"{% static '/ICON/Title04.jpg' %}"},{posterType:"jpg"})}();
    </script>    
    {% elif GoodsPic == 5 %}
    <script>
        !function(p){"use strict";jQuery("body").vide({jpg:"{% static '/ICON/Title05.jpg' %}",poster:"{% static '/ICON/Title05.jpg' %}"},{posterType:"jpg"})}();
    </script>
    {% elif GoodsPic == 6 %}
    <script>
        !function(p){"use strict";jQuery("body").vide({jpg:"{% static '/ICON/Title06.jpg' %}",poster:"{% static '/ICON/Title06.jpg' %}"},{posterType:"jpg"})}();
    </script>
    {% elif GoodsPic == 7 %}
    <script>
        !function(p){"use strict";jQuery("body").vide({jpg:"{% static '/ICON/Title07.jpg' %}",poster:"{% static '/ICON/Title07.jpg' %}"},{posterType:"jpg"})}();
    </script>
    {% elif GoodsPic == 8 %}
    <script>
        !function(p){"use strict";jQuery("body").vide({jpg:"{% static '/ICON/Title08.jpg' %}",poster:"{% static '/ICON/Title08.jpg' %}"},{posterType:"jpg"})}();
    </script>    
    {% elif GoodsPic == 9 %}
    <script>
        !function(p){"use strict";jQuery("body").vide({jpg:"{% static '/ICON/Title09.jpg' %}",poster:"{% static '/ICON/Title09.jpg' %}"},{posterType:"jpg"})}();
    </script>    
    {% else %}
    <script>
        !function(p){"use strict";jQuery("body").vide({jpg:"{% static '/ICON/Title01.jpg' %}",poster:"{% static '/ICON/Title01.jpg' %}"},{posterType:"jpg"})}();
    </script>
    {% endif %}

  </body>
</html>
