{% load static %}
    <main role="main" class="flex-shrink-0">
      <section class="page-title bg-2">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-2">
              <div class="block">
                <div class="clearfix">
                  <img src="{% static 'ICON/tsurugizaki05.jpg' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
              
                  <p>
                    <font size=2>前回の「つるぎざき伝説」記事を掲載してから、ちょうど一年が経ちました。その間にFF屈指の謎であった「つるぎざき」さんについての正しいと思われる情報が、多くのゲームファンに伝わったかと思います。私の方で「つるぎざき」さんについて再度情報収集をしていたところ、とあるブログにたどり着きました。そのブログをしばらく読んでみると、もしかして「つるぎざき」さん御本人のブログなのでは？？と思い、私は管理人の方に連絡を取ってみました。</font>
                  </p>
              
                </div>

                <div class="clearfix">

                  <img src="{% static 'ICON/tsurugizaki06.jpg' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">            
                  
                  <p>
                    <font size=2>すると、半日も経たない内に管理人の方から返信メールをいただきました。その内容をここに書くことはできませんが、文面から「つるぎざき」さん100％御本人であることが分かり、私は狂喜乱舞してしまいました。「つるぎざき」さん御本人から「おもいでがたり」ブログ掲載の許可をいただきましたので、再度「つるぎざき」さんについての紹介をしたいと思います。皆様にはまず、<b><a href="http://blog.livedoor.jp/tsurugizakimizuho/">「おもいでがたり」</a></b>ブログを全て読んでいただきたいのです。当時の「つるぎざき」さんが、なぜスクウェア会報誌「TIMES SQUARE」の投稿をやめたのかという理由について書かれています。</font>
                  </p>

                </div>

                <div class="clearfix">

                  <img src="{% static 'ICON/TimesSquare03.jpg' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">            

                  <p>
                    <font size=2><b><a href="http://blog.livedoor.jp/tsurugizakimizuho/">「おもいでがたり」</a></b>ブログ内で、『「つるぎざき」が、隠れキャラとしてFC版FFⅢに出演させていただいた経緯は、正直なところ、自分でも真相は分りません。』と書かれておりまして、今回私が記事を書いた理由はここにあります。以前1988年頃、東京・代々木に「F.F.OFFICIAL SHOP」というスクウェアグッズ専門店がありました。私は何度かこの店に行き、スクウェアグッズを買ってました。（そのグッズ達はこのサイト内で展示しておりますので、興味のある方は是非見てください。）</font>
                  </p>

                </div>

                <div class="clearfix">

                    <img src="{% static 'ICON/tomsawyer.jpg' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">            
                    
                    <p>
                    <font size=2>1990年に「F.F.OFFICIAL SHOP」が閉店となり、その記念としてスクウェアクイズ大会を開催するというお知らせを受けまして、私は当日参加しました。デスクイーン市のHISTORY(市長queenの戦績)<コーナーからも分かるように、その頃から私はスクウェアの虜となっていました。スクウェアゲームの知識は他の参加者よりも格段に上回っていたこともあり、特別賞としてスクウェアのトムソーヤ>のスタッフジャンパーを頂きました。20年以上経った今でも、この使用感満載のジャンパーから煙草のにおいがします。クイズ大会の司会は、当時スクウェア広報のフォアグラ長谷川さんでした。</font>
                    </p>

                </div>

                <div class="clearfix">

                    <img src="{% static 'ICON/TimesSquare01.jpg' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">            

                    <p>
                    <font size=2>つるぎざきさんについてのクイズが出題され、私は即答した記憶があるのですが、その時につるぎざきさんが隠れキャラとして出演した経緯を教えてくれました。私の断片的な記憶ですが、</font>
                    </p>
                    <li><font size=1>TIMES SQUAREに「葉書ばっかり書いてないで勉強しなさいっ」コーナー掲載後、つるぎざきさんから葉書がこなくなる</font></li>
                    <li><font size=1>次号で『勉強ばっかしてないで、も～少しハガキもかいてねっ』コーナーを掲載⇒つるぎざきさんから葉書がこない</font></li>
                    <li><font size=1>長谷川さんは謝罪の意を込めて、FFⅢ開発スタッフにつるぎざきさんを隠れキャラとして配置するように指示した</font></li>


                </div>

                <div class="clearfix">

                  <img src="{% static 'ICON/20130421_154501.jpg' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">            
                  
                  <p>
                    <font size=2>「つるぎざき」さんのブログを読んで、私なりに遠い記憶を掘り起し、脚色無しのエピソードを書いてみました。「つるぎざき」さんが葉書を投稿しなくなった理由と、スクウェア側の謝罪、お互いに思いが違いますが、「つるぎざき」さんがFFⅢに登場したことは、ファミコン史に残る素敵な出来事の一つであることに間違いないのです。しかし、ギサールの村の由来は「つるぎざき」さんから来ているのかは未だに謎のままです。この件については、当時開発に携わっていたスタッフしか判らないのです。</font>
                  </p>

                </div>

                </div>
            </div>
          </div>
        </div>
      </section>    
    </main>
