    <main role="main" class="flex-shrink-0">
      <section class="page-title bg-2">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-2">
              <div class="block">
                <div class="clearfix">
                  <img src="../dqc/image/tsurugizaki02.JPG" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
              
                  <p>
                    FFⅢが発売されてから３０年以上経ちますが、ギサールの村に隠れている「つるぎざき」さんについて、ファミコン界では未だに謎のベールに包まれているので、このスペシャルページで紹介します。「剣崎？？？」とペンネームになっていますが、名前がおそらく本名の可能性が強いので、画像中の名前は伏せておきます。個人情報公開の厳しい世の中なので、住所も伏せておきます。<br>TIMES SQUARE 1989年春号から抜粋
                  </p>
              
                </div>

                <div class="clearfix">

                  <img src="../dqc/image/tsurugizaki01.JPG" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">            
                  
                  <p>
                    右側の「フォアグラ長谷川のはがきばっかりかいてないで勉強しろ！コーナー」で、つるぎざき絵師のイラストが掲載されています。とにかくスクウェアに毎月ファンレターのはがきが大量に送られてくるので、勉強していないのでは？とスクウェアの広報の方から心配されていました。これこそ真のスクウェアファンの鑑ですね。この掲載後、つるぎざき絵師からのファンレターが少なくなってきたようです。
                  </p>

                </div>

                <div class="clearfix">

                  <img src="../dqc/image/tsurugizaki03.JPG" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">            

                  <p>
                    やはりつるぎざき絵師の気を悪くしてしまった様で、彼女からのファンレターがこなくなったそうです。スクウェアは反省の意を込めてFFⅢギザールの村の隠し部屋でスクウェア宛てにおてがみを書く「つるぎざき」さんを出しました。右の絵の召喚獣シヴァから、私なりの判断ですが、おそらく「つるぎざき」さんはFFⅢでの隠れキャラの自分を見つけて、またスクウェアにファンレターを書いたと思われます。
                  </p>

                </div>

              </div>
            </div>
          </div>
        </div>
      </section>    
    </main>
